# macOS specific
*.icloud
.DS_Store

# project files
.idea
.expo
.expo-shared
node_modules
__pycache__
venv
app.json

# SDK and sensitive stuff
firebaseDB.js
google-services.json
GoogleService-Info.plist
adminSDK.json

